---
const personalImageAlt = "Luis Esquivia";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-800 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-cyan-500 dark:[&>p>strong]:text-cyan-400 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      <strong> Soy un apasionado tecnólogo de análisis y desarrollo de software </strong> con
      una sólida base en la estructuración y maquetación de sitios web. Mi
      enfoque se caracteriza por:
    </p>

    <p>
      <strong> Aprendizaje Continuo:</strong> Mi constante interés en las áreas de
      aprendizaje relacionadas con la programación me ha permitido
      mantenerme actualizado con las últimas tendencias y tecnologías
      en el mundo del desarrollo de software.
    </p>

    <p>
      <strong> Gran Capacidad de Aprendizaje:</strong> Poseo una capacidad innata para
      asimilar rápidamente nuevas tecnologías y conceptos, lo que me
      permite adaptarme fácilmente a los entornos cambiantes y
      aprender de manera eficiente.
    </p>

    <p>
      <strong> Resolución de Problemas:</strong> Mi habilidad para afrontar y solucionar
      problemas me ha permitido abordar desafíos complejos de manera
      efectiva.
    </p>

  </div>

  <img
    width="200"
    height="200"
    src="https://avatars.githubusercontent.com/u/112635019?v=4"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
